html {
  height: 0;
}
body {
  background-image: linear-gradient(
    180deg,
    rgb(12, 51, 12),
    rgb(111, 165, 111)
  );
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.about-container {
  font-weight: bold;
  line-height: 10;
  font-size: 1.5rem;
  text-align: center;
  width: 60%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
}
.footer {
  padding: 1.5rem 1.5rem;
  position: absolute;
}

.contact-us-container {
  width: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
}

.cart-container {
  width: 70%;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
  padding: 1rem;
}

.card {
  display: inline-block;
}
