body {
  background-color: #878d92;
}

.about-container {
  font-weight: bold;
  line-height: 10;
  font-size: 1.5rem;
  text-align: center;
  width: 60%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
}
.footer {
  padding: 2rem 0;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
  color: white;
}

.contact-us-container {
  width: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
}

.cart-container {
  width: 70%;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
  padding: 1rem;
}

.card {
  display: inline-block;
}
